@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --main-color:#F2F2F2;
    --black:#0C0D0C;
    --bg:#595959;
    --border:1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto',sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    /*overflow: hidden;*/
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

.btn{
     margin-top: 1rem;
     display: inline-block;
     padding: 3rem 3rem;
     font-size: 1.7rem;
     color: #fff;
     background: #ff0000;
     cursor: pointer;
}
.btn:hover{
    letter-spacing: .2rem;

}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom:3.5rem ;
    font-size: 4rem;
}
.heading span{
    color: #D91A1A;
    text-transform: uppercase ;
}


.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 10%;
    /*border-bottom: var(--border);*/
    position: fixed;
    top: 0;
    left: 0;
    right:0 ;
    z-index: 1000;
}

.header .logo img{
    height: 4rem;
}

.header .logo-text{
    color:#D91A1A;
    text-decoration: none;
    height:2rem;
    font-size: 0.9rem;
    -webkit-text-stroke: 0.5px black;
}
.header .logo-text span{
    color:#fff;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;  
}

.header .icons div{
    color:#fff ;
    cursor: pointer;
    font-size: 2.5rem;
}

.header .icons div:hover{
    color:var(--main-color) ;
}

#menu-btn{
    display: none;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/fondo1.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
    -webkit-text-stroke: 0.5px black;
}

.home .content h3 span{
    color:#D91A1A;
    -webkit-text-stroke: 0.5px black;
}

.row {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    padding: 20px 0; 
}
.escuchar-en-vivo {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.escuchar-en-vivo img {
    max-width: 100%; 
    height: auto; 
}


@media (max-width:1350px){
    html{
        font-size: 55%;
    }
    .header {
        padding: 2rem 10%;
    }
    section{
        padding: 2rem;
    }

    .escuchar {
        padding: 20px 0; 
    }

    .escuchar-en-vivo img {
        max-width: 100%; 
    }
}

@media (max-width:790px){
    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh -9.5rem);
    }
    .header .navbar.active{
        right: 0;
    }
    .header .logo-text{
        font-size:1rem ;
    }
    
    .header .navbar a{
        color:var(--black);
        display:block;
        margin: 1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .escuchar {
        padding: 30px 0; /* Reduce el padding en pantallas más pequeñas */
    }

    .row {
        flex-direction: column; /* Cambia la dirección del flex para que los elementos se apilen */
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        height: auto; /* Ajusta la altura para pantallas más pequeñas */
    }

    .escuchar-en-vivo img {
        max-width: 80%; /* Ajusta el tamaño máximo de la imagen */
    }
}

@media (max-width: 480px) {
    .escuchar {
        padding: 20px 0; /* Reduce aún más el padding en pantallas muy pequeñas */
    }
    .escuchar-en-vivo img {
        max-width: 100%; /* Asegura que la imagen no exceda el tamaño del contenedor */
    }
}


